extends layout

block content
  .container  
    h1 Dashboard
  .container
    .col.l5
      - for (key in data)
        .card
          .data-id= key
          span.username #{data[key].username}
          span.fullname #{data[key].first_name}  #{data[key].last_name}
          span.lang #{data[key].language_code === "" ? 'no' : data[key].language_code}